.banderas {
  float: right;
  margin: auto;
  margin-right: 3%;
  margin-top: -7%;
  width: 30px;
  img {
    width: 30px;
  }
}
.dropdown{
  box-shadow: none !important;
}
.dropdown-menu{
  min-width: auto !important;
  border: none !important;
}
.dropdown-item{
  padding: 0 !important;
  padding-left: 2px !important;
  padding-bottom: 2px !important;
}